.cover-image{
    height: 93vh;
    width: 100%;
}
.register{
    color: aquamarine;
    background-color: ghostwhite;
    padding-top: 10%;
    padding-bottom: 5%;
}
.information{
    width:35%;
}
div.hero-text-register{
    text-align: center;
    position: relative;
}
.about-sec{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}
.footer-style{
    background-color: wheat;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn{
    background-color: aquamarine;
    width:100%
}